---
#Language: Cpp
# BasedOnStyle: LLVM
AccessModifierOffset:                           0
AlignAfterOpenBracket:                          true
AlignArrayOfStructures:                         None
AlignConsecutiveAssignments:
  Enabled:                                      true
  AcrossEmptyLines:                             true
  AcrossComments:                               true
  AlignCompound:                                true
  PadOperators:                                 true
AlignConsecutiveBitFields:
  Enabled:                                      true
  AcrossEmptyLines:                             true
  AcrossComments:                               true
AlignConsecutiveDeclarations:
  Enabled:                                      true
  AcrossEmptyLines:                             false
  AcrossComments:                               true
  AlignFunctionDeclarations:                    true
  AlignFunctionPointers:                        false
AlignConsecutiveMacros:
  Enabled:                                      true
  AcrossEmptyLines:                             true
  AcrossComments:                               true
AlignConsecutiveShortCaseStatements:
  Enabled:                                      true
  AcrossEmptyLines:                             true
  AcrossComments:                               true
  AlignCaseColons:                              true
AlignEscapedNewlines:                           Left
AlignOperands:                                  Align
AlignTrailingComments:
  AlignPPAndNotPP:                              false
  Kind:                                         Always
  OverEmptyLines:                               2
AllowAllArgumentsOnNextLine:                    false
AllowAllParametersOfDeclarationOnNextLine:      false
AllowBreakBeforeNoexceptSpecifier:              Always
AllowBreakBeforeQtProperty:                     false
AllowShortBlocksOnASingleLine:                  Empty
AllowShortCaseLabelsOnASingleLine:              true
AllowShortCompoundRequirementOnASingleLine:     true
AllowShortEnumsOnASingleLine:                   true
AllowShortFunctionsOnASingleLine:               Empty # TODO: Wenn es wirklich "Allow" wäre: Inline
AllowShortIfStatementsOnASingleLine:            Never
AllowShortLambdasOnASingleLine:                 All # TODO: [](){ call(); return; }
AllowShortLoopsOnASingleLine:                   false
AllowShortNamespacesOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType:           None
AlwaysBreakBeforeMultilineStrings:              false
AttributeMacros:                                []
BinPackArguments:                               true
BinPackLongBracedList:                          true
BinPackParameters:                              BinPack
BitFieldColonSpacing:                           Both
BracedInitializerIndentWidth:                   -1
BraceWrapping:
  AfterCaseLabel:                               false
  AfterClass:                                   false
  AfterControlStatement:                        Never
  AfterEnum:                                    false
  AfterExternBlock:                             false
  AfterFunction:                                false
  AfterNamespace:                               false
  AfterObjCDeclaration:                         false
  AfterStruct:                                  false
  AfterUnion:                                   false
  BeforeCatch:                                  true
  BeforeElse:                                   true
  BeforeLambdaBody:                             false
  BeforeWhile:                                  false
  IndentBraces:                                 false
  SplitEmptyFunction:                           true
  SplitEmptyRecord:                             true
  SplitEmptyNamespace:                          true
BreakAdjacentStringLiterals:                    true
BreakAfterAttributes:                           Never
BreakAfterJavaFieldAnnotations:                 false
BreakAfterOpenBracketBracedList:                false
BreakAfterOpenBracketFunction:                  false
BreakAfterOpenBracketIf:                        false
BreakAfterOpenBracketLoop:                      false
BreakAfterOpenBracketSwitch:                    false
BreakAfterReturnType:                           None
BreakArrays:                                    false
BreakBeforeBinaryOperators:                     None
BreakBeforeCloseBracketBracedList:              false
BreakBeforeCloseBracketFunction:                false
BreakBeforeCloseBracketIf:                      false
BreakBeforeCloseBracketLoop:                    false
BreakBeforeCloseBracketSwitch:                  false
BreakBeforeConceptDeclarations:                 Always
BreakBeforeBraces:                              Custom
BreakBeforeInlineASMColon:                      OnlyMultiline
BreakBeforeTemplateCloser:                      false
BreakBeforeTernaryOperators:                    false
BreakBinaryOperations:                          Never
BreakConstructorInitializers:                   AfterColon
BreakFunctionDefinitionParameters:              false
BreakInheritanceList:                           AfterColon
BreakStringLiterals:                            true
BreakTemplateDeclarations:                      Yes
ColumnLimit:                                    120
CommentPragmas:                                 '^ IWYU pragma:'
CompactNamespaces:                              false
ConstructorInitializerIndentWidth:              8
ContinuationIndentWidth:                        4
Cpp11BracedListStyle:                           FunctionCall
DerivePointerAlignment:                         false
DisableFormat:                                  false
EmptyLineAfterAccessModifier:                   Never
EmptyLineBeforeAccessModifier:                  LogicalBlock
EnumTrailingComma:                              Leave
FixNamespaceComments:                           true
ForEachMacros:                                  []
IfMacros:                                       []
IncludeBlocks:                                  Regroup
# 1. Der eigene Header kommt automatisch oben (Prio 0)
# 2. Dann kommen lokale Header (Prio 10)
# 3. Dann kommen eigene Libraries in <> mit großen Buchstaben am Anfang und normalerweise einem / drin (Prio 20)
# 4. Dann kommen Interfaces (Prio 30)
# 4. Dann kommen 3rd Party ohne Qt in <>, leider muessen wir hier die Präfixe alle manuell angeben... (Prio 40)
# 5. Dann kommen die Qt Header in <> mit einem großen Q, gefolgt von einem weiteren großen Buchstaben, und ohne / (Prio 50)
# 6. Dann kommen OS-Header, durch den Regex fallen hier auch C-Header rein, aber diese sollen ja eh nicht verwendet werden. :) (Prio 60)
# 7. Zuletzt kommen die Std-Header (Prio 70)
# Die Regexe müssen anders sortiert sein, da der erste der passt die Prio vorgibt
# Der Abstand der Prios erlaubt es Unterprojekten bei Bedarf da noch etwas zwischen zu schieben.
IncludeCategories:
  - Regex:           '^<.*\.(grpc\.pb|capnp)\.h>$'
    Priority:        30
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<Q(t|t?[A-Z][^/]+)>$'
    Priority:        50
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<q[^/]+.h>$'
    Priority:        50
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<(boost|capnp|catch2|ctre|date|Eigen|fmt|gsl(-lite)?|kj|mp-units|safe|strong_type|toml\+\+)/'
    Priority:        40
    SortPriority:    40
    CaseSensitive:   true
  - Regex:           '^<[A-Z].*/'
    Priority:        20
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<.*\.h>'
    Priority:        60
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<'
    Priority:        70
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^"\.\./\.\./.*'
    Priority:        10
    SortPriority:    14
    CaseSensitive:   false
  - Regex:           '^"\.\./[^/]+/.*'
    Priority:        10
    SortPriority:    13
    CaseSensitive:   false
  - Regex:           '^"\.\./.*'
    Priority:        10
    SortPriority:    12
    CaseSensitive:   false
  - Regex:           '^".*/'
    Priority:        10
    SortPriority:    11
    CaseSensitive:   false
  - Regex:           '^".*'
    Priority:        10
    SortPriority:    10
    CaseSensitive:   false
IncludeIsMainRegex:                             '(Test)?$'
IncludeIsMainSourceRegex:                       ''
IndentAccessModifiers:                          false
IndentCaseBlocks:                               false
IndentCaseLabels:                               true
IndentExportBlock:                              true
IndentExternBlock:                              NoIndent
IndentGotoLabels:                               true
IndentPPDirectives:                             AfterHash
IndentRequiresClause:                           false
IndentWidth:                                    4
IndentWrappedFunctionNames:                     false
InsertBraces:                                   true
InsertNewlineAtEOF:                             true
InsertTrailingCommas:                           None
IntegerLiteralSeparator:
  Binary:                                       4
  BinaryMinDigitsInsert:                        9
  BinaryMaxDigitsRemove:                        4
  Decimal:                                      3
  DecimalMinDigitsInsert:                       9
  DecimalMaxDigitsRemove:                       5
  Hex:                                          2
  HexMinDigitsInsert:                           9
  HexMaxDigitsRemove:                           5
JavaScriptQuotes:                               Leave
JavaScriptWrapImports:                          true
KeepEmptyLines:
  AtEndOfFile:                                  true
  AtStartOfBlock:                               false
  AtStartOfFile:                                false
KeepFormFeed:                                   false
LambdaBodyIndentation:                          Signature
LineEnding:                                     DeriveCRLF
MacroBlockBegin:                                ''
MacroBlockEnd:                                  ''
Macros:                                         ["BENCHMARK(x)=[]()"]
MacrosSkippedByRemoveParentheses:               ["REQUIRE", "REQUIRE_FALSE", "CHECK", "CHECK_FALSE", "Q_ASSERT", "TRACE_ASSERT", "TRACE_ASSUME"]
MainIncludeChar:                                Quote
MaxEmptyLinesToKeep:                            1
NamespaceIndentation:                           None
NumericLiteralCase:
  ExponentLetter:                               Leave
  HexDigit:                                     Leave
  Prefix:                                       Leave
  Suffix:                                       Leave
ObjCBinPackProtocolList:                        Auto
ObjCBlockIndentWidth:                           2
ObjCBreakBeforeNestedBlockParam:                true
ObjCSpaceAfterProperty:                         false
ObjCSpaceBeforeProtocolList:                    true
OneLineFormatOffRegex:                          '#line.*'
PackConstructorInitializers:                    BinPack
PenaltyBreakAssignment:                         2
PenaltyBreakBeforeFirstCallParameter:           19
PenaltyBreakBeforeMemberAccess:                 150
PenaltyBreakComment:                            300
PenaltyBreakFirstLessLess:                      120
PenaltyBreakOpenParenthesis:                    0
PenaltyBreakScopeResolution:                    500
PenaltyBreakString:                             1000
PenaltyBreakTemplateDeclaration:                10
PenaltyExcessCharacter:                         1000000
PenaltyIndentedWhitespace:                      0
PenaltyReturnTypeOnItsOwnLine:                  60
PointerAlignment:                               Left
PPIndentWidth:                                  2
QualifierAlignment:                             Custom
QualifierOrder:                                 [static, inline, constexpr, const, volatile, type]
ReferenceAlignment:                             Pointer
ReflowComments:                                 Always
RemoveBracesLLVM:                               false
RemoveEmptyLinesInUnwrappedLines:               true
RemoveParentheses:                              ReturnStatement
RemoveSemicolon:                                true
RequiresClausePosition:                         OwnLine
RequiresExpressionIndentation:                  Keyword
SeparateDefinitionBlocks:                       Always
ShortNamespaceLines:                            0
SkipMacroDefinitionBody:                        false
SortIncludes:
  Enabled:                                      true
  IgnoreCase:                                   true
  IgnoreExtension:                              false
SortJavaStaticImport:                           Before
SortUsingDeclarations:                          LexicographicNumeric
SpaceAfterCStyleCast:                           false
SpaceAfterLogicalNot:                           false
SpaceAfterOperatorKeyword:                      false
SpaceAfterTemplateKeyword:                      false
SpaceAroundPointerQualifiers:                   Default
SpaceBeforeAssignmentOperators:                 true
SpaceBeforeCaseColon:                           true
SpaceBeforeCpp11BracedList:                     false
SpaceBeforeCtorInitializerColon:                true
SpaceBeforeInheritanceColon:                    true
SpaceBeforeParens:                              Custom
SpaceBeforeParensOptions:
  AfterControlStatements:                       true
  AfterForeachMacros:                           true
  AfterFunctionDefinitionName:                  false
  AfterFunctionDeclarationName:                 false
  AfterIfMacros:                                true
  AfterNot:                                     false
  AfterOverloadedOperator:                      false
  AfterPlacementOperator:                       true
  AfterRequiresInClause:                        true
  AfterRequiresInExpression:                    false
  BeforeNonEmptyParentheses:                    false
SpaceBeforeRangeBasedForLoopColon:              true
SpaceBeforeSquareBrackets:                      false
SpaceInEmptyBraces:                             Never
SpacesBeforeTrailingComments:                   1
SpacesInAngles:                                 Never
SpacesInContainerLiterals:                      false
SpacesInLineCommentPrefix:
  Minimum:                                      0
  Maximum:                                      0
SpacesInParens:                                 Custom
SpacesInParensOptions:
  ExceptDoubleParentheses:                      false
  InCStyleCasts:                                false
  InConditionalStatements:                      true
  InEmptyParentheses:                           false
  Other:                                        false
SpacesInSquareBrackets:                         false
Standard:                                       Latest
StatementAttributeLikeMacros:                   [emit]
StatementMacros:                                [Q_UNUSED, QT_REQUIRE_VERSION]
TabWidth:                                       4
UseTab:                                         Never
WhitespaceSensitiveMacros:                      []
WrapNamespaceBodyWithEmptyLines:                Never
...

# Alles oder nur 1. Zeile machtn Unterschied
##        ret.Position += offset.dropDimensions<Dimension::A>();
##        ret.Position  = rotateAroundOrigin(ret.Position, offset.a());
